*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

}

header {
  width: 100%;
  height: 80px;


}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  border-bottom: 2px solid lightgrey;

}


.container > div {
  float: left;
  height: 100%;
}


.header_left {
  width: 20%;


}

.header_left img {
  height: 30px;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.header_right {
  width: 80%;


}


.header_right .item {
  height: 100%;
  float: left;
  background: #FFFFFF;
  line-height: 40px;
  padding: 20px 34px;
  margin-top: -2px;
  margin-right: 7px;
  position: relative;
  font-size: 13px;


}

.header_right .item:hover {
  cursor: pointer;
}

.item a {
  text-decoration: none;
  color: lightgrey;

}

.item a:hover {
  background: #FFFFFF;
  color: black;

}


.dropdown_menu {
  height: 100% auto;
  background-color: #39C2E9;
  width: 177px;
  position: absolute;
  top: 80px;
  left: 40px;
  padding: 3px;
  display: none;
  border-radius: 3px;

}

.dropdown_menu .dropdown_item:hover {
  border-bottom: 1px solid lightgrey;
  background-color: white;
  border-radius: 3px;
}

.dropdown_item a {
  color: black;
}

.dropdown_menu.show {
  display: block;
}
